{% load static %}
<!--==== SECTION TO FILTER BY VENDOR, CATEGORY ====-->

<div class="filter-sec-container">
  <div class="filter-btn">
    <p>
      <strong>
        Filter <svg style="width:15px; height:15px;" 
        xmlns="http://www.w3.org/2000/svg" 
        viewBox="0 0 24 24">
        <path d="M10 14L4 5V3H20V5L14 14V20L10 22V14Z">
        </path></svg>
      </strong>
    </p>
  </div>
  <div style="margin-bottom: 10px" class="pink pinklayout"></div>
  <div class="filter-section">
    <div class="filter-sec1">
      <h5 style="margin-bottom: 5px">By Categories</h5>
      <ul class="filter-sec1-child">
        {% for category in categories %} 
        {% if forloop.counter < 15 %}
        <li>
          <input
            class="filter-checkbox"
            data-filter="category"
            type="checkbox"
            name="checkbox"
            id="examplecheckbox"
            value="{{category.id}}"
          />
          <a href="{% url 'storeapp:category_detail' category.id %}">
            <img src="{{category.image.url}}" />{{category.title}} <i style="color:green;">{{category.products.count}}</i>
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="filter-sec2">
      <h5 style="margin-bottom: 5px">By Vendors</h5>
      <div class="filter-sec2-child">
        {% for vendor in vendors %} {% if forloop.counter < 6 %}
        <input
          class="filter-checkbox"
          data-filter="vendor"
          type="checkbox"
          name="checkbox"
          id="examplecheckbox1"
          value="{{vendor.id}}"
        />
        <label for="examplecheckbox1">
          <a href="{% url 'storeapp:vendor-detail' vendor.id %}">
            {% if vendor.image %}
            <img src="{{vendor.image.url}}" /> <span>{{vendor.name}}</span></a
          >
          {% endif %}
        </label>
        <br />
        <br />
        {% endif %} {% endfor %}
      </div>
    </div>

    <div class="filter-sec3">
      <h5 style="margin-bottom: 5px">By Tags</h5>
      <div class="filter-sec3-child">
        <ul>
          <li>{{tag.name}}</li>
          {% for product in products %} {% if forloop.counter < 7 %}
          <div
            style="
              border-radius: 5px;
              margin: 5px 0;
              padding: 5px;
              border: 1px solid black;
            "
          >
            <a href="{% url 'storeapp:detail' product.slug %}"> 
              <li>
                {{product.name}} |
                <img
                  style="width: 20px; height: 20px"
                  src="{{product.picture.url}}"
                />
              </li>
            </a>
          </div>
          <hr />
          {% endif %} {% endfor %}
        </ul>
        <!--{% for vendor in vendors %}
        
        <input
          class=""
          type="checkbox"
          name="checkbox"
          id="examplecheckbox1"
          value=""
        />
        <label for="examplecheckbox1"><p>vendor title</p></label>
        {% endfor %}-->
        <!--{% for t in tag %}
          <p>{{t.name}}</p>
        {% endfor %}-->
        <!--{% for product in categories %}
        <p>{{product.name}}</p>
        {% endfor %}-->
      </div>
    </div>

    <div class="filter-sec4">
      <h5 style="margin-bottom: 5px">By Price</h5>
      <div class="filter-sec4-child">
        <input
          style="width: 90%"
          type="range"
          value="{{min_max_price.price__min|floatformat:2}}"
          id="range"
          min="{{min_max_price.price__min}}"
          max="{{min_max_price.price__max}}"
          onInput="max_price"
          class="slider-input"
          type="range"
          name="checkbox"
          id="examplecheckbox1"
          value="this.value"
        />
        <ul style="display: flex; flex-direction: row; list-style-type: none">
          <li style="align-items: flex-start; margin-right: 30%">
            From:
            <strong style="font-size: 11.5px"
              >{{min_max_price.price__min|floatformat:2}}</strong
            >
          </li>
          <li style="align-items: flex-end">
            To:
            <strong style="font-size: 11.5px"
              >{{min_max_price.price__max|floatformat:2}}</strong
            >
          </li>
        </ul>
        <hr />
        <br />
        <div class="input-num-parent">
          <input
            class="input-number"
            type="number"
            value="{{min_max_price.price__min|floatformat:2}}"
            placeholder="   Current Price"
            id="max_price"
            min="{{min_max_price.price__min}}"
            max="{{min_max_price.price__max}}"
            onKeyup="range.value=this.value"
          />
          <button type="button" id="price-filter-btn">Filter</button>
          <!--<h4 style="color:white;">{{min_max_price}}</h4>-->
        </div>
      </div>
    </div>
    
  </div>
  <div style="top: 91%; position: relative" class="pink"></div>
</div>
<!--==== END OF THE SECTION ====-->
