{% extends "base.html" %} {% load static %} {% block content %}
<div style="width: 100%; padding: 20px 10px; justify-content: center">
  <h2 style="text-align: center">Add Products</h2>
  <form
    style="text-align: center"
    method="POST"
    action="{% url 'storeapp:new-products' %}"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="item-update-form">
      <label>Product name</label>
      <br />
      {{form.name}}
      <br />
      <br />
      <label>Price</label>
      <br />
      {{form.price}}
      <br />
      <br />
      <label> Old Price</label>
      <br />
      {{form.old_price}}
      <br />
      <br />
      <label>Product Image</label>
      <br />
      {{form.picture}}
      <br />
      <br />
      <label>Category</label>
      <br />
      {{form.category}}
      <br />
      <br />
      <label>Slug</label>
      <br />
      {{form.slug}}
      <br />
      <br />
      <label>Brand name</label>
      <br />
      {{form.vendor}}
      <br />
      <br />
      <label>Select to grant authorization</label>
      <br/>
      {{form.vendor_product}}
      <br />

      {% if form.errors or form.non_field_errors %}
      <div>
        {% for field in form %}
        <strong>{{field.errors}}</strong>
        {% endfor %}
        <!--{{form.non_field_errors }}-->
      </div>
      {% endif %}
      <br />
      <button type="submit">Submit</button>
      <br />
    </div>
  </form>
</div>
{% endblock %}
