{% extends 'base.html' %} {% load static %} {% block content %}
<!--=== CONTENT ===-->
<div class="payment-completed-body">
  <div>
    <div class="payment-completed-main">
      <span class="payment-completed-header">
        <img src="{% static 'img/myke.jpg' %}"/> 
        {% if order %}
        <h3 class="inv_no">INVOICE NUMBER:{{order.id}}</h3>
        {% endif %}
      </span>
      <hr />
      <div style="padding: 10px; text-align: center">
        <table style="width: 90%">
          <thead style="width:100%;">
            <tr>
              <th>Title</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Amount</th>
            </tr>
          </thead>

          <tbody>
            {% for item in cartitems%}
            <tr style="width: 100%; text-align:center;">
              <td style="width:100%;">
                <img style="border-radius:4px;"src="{{item.product.picture.url}}" />
                <strong>{{item.product.name}}</strong>
              </td>
              <td style="width:100%;">{{item.product.price}}</td>
              <td style="width:90%;">{{item.quantity}}</td>
              <td style="width:90%;">{{item.price}}</td>
            </tr>
            {% endfor %}
            <tr style="width: 100%; text-align:right;">
              <td style="width:90%; text-align:right;"><strong>SubTotal: &#x20A6 {{cart.total_price}}</strong></td>

            </tr> 
            <tr style="width: 100%;">
              <td style="width:90%; text-align:right;"><strong>Tax: &#x20A6 300</strong></td>

            </tr>  
            <tr style="width:100%;">
              <td style="width:90%; text-align:right;"><strong>GrandTotal: &#x20A6 {{cart.total_price}}</strong></td>
              <!--<td>&#x20A6 {{cart.total_price}}</td>-->
            </tr>
          </tbody>
        </table>
        <strong>
          <p class="payment-total"style="text-align: right; margin-right: 20px">
            Total Amount 
          </p>
        </strong>
        <strong>
          <p class="payment-total" style="text-align: right; margin-right: 20px"> &#x20A6 {{cart.total_price}}</p>
        </strong>
      </div>
      <br />
      <hr />
      <i>
        <p style="margin-bottom: 30px; text-align: center">
          Hey {{ request.user }}, thanks for shopping with us...
        </p>
      </i>
      <br />
    </div>
  </div>
  <!--BUTTON SECTION-->
  <div
    class="completed-btn"
    style="text-align: center; margin-top: 30px; margin-bottom: 30px"
  >
    <span>
      <button class="print" style="margin-right: 10px" type="submit">
        Print
      </button>
      <button class="download" type="submit">Download</button>
    </span>
  </div>
</div>

<!--=== JS TO LINK TO DOWNLOAD AND PRINT PAYMENT INVOICE ===-->
<script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-3.6.0.mins.js' %}"></script>
<!--== INVOICE JS ==-->
<script src="{% static 'assets/js/invoice/jspdf.min.js' %}"></script>
<script src="{% static 'assets/js/invoice/invoice.js' %}"></script>

{% endblock content %}
