{% extends 'base.html' %} {% load static %} {% block content %}

<!--ADVERT-->
<div class="aboutus1" style="background:black;">
  <p class="info">Services</p>
</div>
<div class="containerr">
  <h2 class="personality">Our Services</h2>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. It has survived not only five centuries, but also
    the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
</div>

<!---===== REACH OUT SECTION ====-->
<div class="map-container">
  <div class="form-containerr" style="padding:5px;">
    <h2 id="reach-here">Reach out</h2>
    <small><strong>To make enquiries of our services like product/stock availability or logistics and shipping/delivery period</strong></small>
    <br/>
    <br/>
    <p>
      Just send us a message
      <a href="{% url 'storeapp:contact' %}"><i>Click here</i> </a>
    </p>
  </div>
</div>
<br />
<hr />

<!--== TESTIMONIAL ==-->

<div class="testimonial">
  <div class="small-container">
    <div class="containerr">
      <h2 class="testi">Developed By</h2>
    </div>
    <div class="row">
      <div class="col-3">
        <a href="https://github.com/Dikachi-official">
          <img
            src="{% static 'img/Resume pic.jpg' %}"
            alt="Burna boy"
          />
          <h3>Dikachi Chikezie</h3>
          <p>
            <strong>FullStack Dev</strong><br />
          </p>
        </a>
      </div>
      <!--<div class="col-3">
        <img src="{% static 'img/davido-whitebg.jpg' %}" alt="Davido" />
        <h3>David Adeleke</h3>
        <p>
          <strong>Artiste</strong><br />
          Mike is doing such a nice job, support you all the way boss.
        </p>
      </div>-->
    </div>
  </div>
</div>
<!--== END OF TESTIMONIAL ==->


        <!--=== BACK TO TOP ===-->
<div class="top">
  <a href="#top" class="top">Top &#x2191;</a>
</div>

{% endblock content %}
