{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<!--=== MESSAGE ALERT ===-->
{% if messages %} {% for message in messages%}
  <div style="width: 90%; text-align:center;">
    <strong>{{message}}</strong>
  </div>
  {% endfor %} {% endif %}

<h2 style="text-align:center; margin:20px auto;"> Account Settings</h2>
<div class="change-pass-main-cont">
    <div class="change-pass-cont">
        <p style="background: white; padding: 10px" id="security-password">
        <strong>Security</strong>
        </p>
        <br />
        <a class="changepassbtn" href="{% url 'userapp:change-password' %}"
        >Change Password</a
        >
    </div>
    <br/>
</div>

{% endblock content %}