{% for product in products %}
    <div class="women-container col-4">   
        <div class="percentage-placement">
            <p><small>-{{product.get_percentage|floatformat:0}}%</small></p>
        </div> 
        <a href="{% url 'storeapp:detail' product.slug  %}">
            <img src="{{ product.picture.url }}">
        </a>
        <h4><b>{{ product.name }}</b></h4>
        <p> Category: <i>{{product.category.title}}</i></p>
        <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <p class="price-of-things">
            <b>&#x20A6;{{ product.price }}</b>
            <s style="color:red;">&#x20A6;{{product.old_price}}</s>
        </p>

        <!--== ADD TO CART BUTTON ==-->
        <div style="display:flex; flex-direction:row; gap:10px;">
            <button class="butn" type="button" value={{product.id}}>Add to Cart
                <!--<i class="btn__icon btn__icon--cart fa-solid fa-cart-shopping"></i>-->
                <!--<i class="btn__icon btn__icon--box fa-solid fa-parachute-box"></i>-->
                <!--<span class="btn__text btn__text--first">Add to cart</span>-->
                <!--<span class="btn__text btn__text--second">Added</span>-->
            </button>
            <button type="button" data-product-item="{{product.id}}" class="add-to-wishlist" >
                Wish
            </button>
        </div>
        <br>
        <br>
    </div>
{% endfor %}