* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    width:100%;
}




a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}


.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    margin-top:30px;
    flex-basis: 50%;
    min-width: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100%;
    background-color: rgba(225, 222, 222, 0.982);
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
    border-radius: 17rem;
    margin-right: 10px;
    padding-right: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin-top: 10px;
    margin-left: 10px;
}





.col-2 p {
    margin-left: 10px;

}

.logo img {
    border-radius: 10rem;
    height:40px;
    width:40px;

}


/*======================   PHONES  =============================*/
.phones{
    width: 80px;
    height: 80px;
    
}
.phones img{
    width: 80px;
    height: 80px;
}


.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 30px;
    border-radius: 30px;
    transition: 0.5s;
    border:none;
}

.btn:hover {
    background: #563434;
}

.header {
    background: radial-gradient(#fff, #ffd6d6);
    width:100%;
    display:flex;

}

.header .row {
    margin-top: 70px;
}

/*img {
    border-radius: 2rem;
}*/

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}


.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.disturb {
    text-align: center;
    line-height: 60px;
    color: #555;
}

.title::after {
    contain: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: #ff523b;
}

.col-4:hover {
    transform: translateY(-5px);
}

/*------Offer---------*/

img{
    border-radius:8px;
}

.offer {
    background: radial-gradient(#fff, );
    margin-top: 80px;
    padding: 15px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.fa.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*-------------brands-----------------*/
.brands {
    margin: 100px auto;
}

.col-5 {
    width: 120px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}


/*---------------footer-----------------*/
.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 130px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 100px;
    display: list-item;
    margin-left: 50px;
}

.footer hr {
    border: none;
    background-color: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copy-right {
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}






/*--== SIGNUP NAVIGATION ==--*/
.signupnav{
    width:100%;
    height:10vh;
    background-color: #ffd6d6;
}

.signupbody{
    width:100%;
    height:100vh;
    margin:0;
    padding:0;
    background-color:#fff;
}
.signupfooter{
    width:100%;
    height:5vh;
    color:#2f2f2f;
}



/*== CART FIXATION ==*/
.fixedpositioncart{
    position:fixed;
}






/*== CHECK OUT FIXATION ==*/
.checkoutbutton{
    position:fixed;
    opacity:0.7; 
    position: relatve;
    left:-50px;
}




/* Cart page */

.shoppingCartBody{
    width:100%;
    height:100 vh;
    margin:0;
    padding:0;
    background-color:#ffd6d6;
}

.shoppingCart{
    width: 90%;      /*700px*/
    height: auto;     /*500px*/
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
    margin-top: 20px;
    background-color: #fff;
    /* margin-bottom: 20px; */
}

.shoppingCart p{
    font-size: 15px; /*20px*/
}



.shoppingCart .heading{
    width: 100%;
    height: 50px;
    /* border: 1px soild blue; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:  #ff523b;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}
.shoppingCart .name, .p_name{
    /* border: 2px solid green; */
    width: 150px;   /* == 200px == */
    display: flex;
    color:#fff;
    align-items: center;
    justify-content: center;
}

.shoppingCart .p_name{
    width: 250px;
    color:#fff;
}

.shoppingCart .itemContainer{
    width: 100%;
    height: 300px;
    overflow-y: auto;
    /* border: 1px solid red; */
    margin-top: 10px;
}

.shoppingCart .item{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #ffd6d6;
    margin-bottom: 10px;
}

.shoppingCart .item .iteminfo{
    display: flex;
    align-items: center;   
    justify-content: space-around;
    /* flex-direction: column; */

    width: 350px;
}

.shoppingCart .item .iteminfo .p_img{
    width: 50px;
    height: 50px;
    /* border: 2px solid black; */
    
}
.p_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left:5px;
    margin-bottom:5px;
}

.shoppingCart button{
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: #ff523b;
    color: white;
    width: 80px;  /*== 100px ==*/
    border: none;
    cursor: pointer;
}

.shoppingCart .pay-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black */
}

.loginbody{
    width:100%;
    height:100vh;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.loginnav{
    justify-content: center;
    align-items: center;
    color:#ffd6d6;
}

.main2{
    margin-top:60px;
}








  














/*----------------media query for menu----------------*/

/*@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;   
        cursor: pointer;
    }
}*/

/*----------------------media query for less than 600 screen size---------------------------*/
@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }

    .col-2{
        flex-basis: 100%;
    }

}






/*--== ADD TO CART STYLING ==--*/
/* ------------ VARIABLES ------------ */
:root{
    /* FONT */
    --font: 'Poppins', sans-serif;
  
    /* COLORS */
    --color: #2f2f2f;
    --bg-color: #f7f7f7;
  }
  
  /* ------------ BASE ------------ */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* ---------- BUTTON ------------ */
  .butn{
    width: 13em;
    height: 4em;
    background-color: #fff;
    border: none;
    border-radius: 3em;
    box-shadow: 0 0 1em rgba(0,0,0, .2);
    outline: none;
    cursor: pointer;
    font-family: var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: transform .3s ease;
    display:flex;
  
    overflow: hidden;
  }

  .butn p{
    color:grey;
    font-weight:300;
  }
  
  .btn:active{
    transform: scale(.9);
  }
  
  .btn__text{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color);
    position: absolute;
  }
  
  .btn__text--second{
    opacity: 0;
  }
  
  .btn__icon{
    font-size: 1.5rem;
    color: var(--color);
    position: relative;
  }
  
  .btn__icon--cart{
    left: -15%;
  }
  
  .btn__icon--box{
    top: -30%;
  }
  
  /* --------- ANIMATION ----------- */
  .btn.active .btn__text--first{
    animation: text1 .3s forwards;
  }
  
  .btn.active .btn__text--second{
    animation: text2 3s forwards;
  }
  
  .btn.active .btn__icon--cart{
    animation: cart 2.5s forwards;
  }
  
  .btn.active .btn__icon--box{
    animation: box 1.5s forwards;
  }
  
  @keyframes text1 {
    100% {
      opacity: 0;
    }
  }
  
  @keyframes text2 {
    90%{
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes cart {
    30%, 60%{
      left: 22%;
    }
    100%{
      left: 70%;
    }
  }
  
  @keyframes box {
    80%{
      color: var(--color);
    }
    90%, 100%{
      top: 15%;
      color: transparent;
    }
  }