{% extends 'base.html' %} {% load static %} {% block content %}

<!--ADVERT-->
<div class="aboutus1">
  <p class="info">ABOUT</p>
</div>
<div class="containerr">
  <h2 class="personality">About Us</h2>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. It has survived not only five centuries, but also
    the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
</div>

<!---===== MAPS AND LOCATION ====-->
<div class="map-container">
  <div class="form-containerr">
    <h2>Location</h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.26183039624!2d3.355944014243759!3d6.614356395216845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b93b65ba86e15%3A0x3ae060fb3436c3ad!2sIkeja%20City%20Mall!5e0!3m2!1sen!2sng!4v1669285865019!5m2!1sen!2sng"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
<br />
<hr />

<!--=== SECTION HOLDING LEFT AND RIGHT COL ===-->
<div class="contarnerrr">
  <div class="black"></div>
  <div class="parallax111">
    <p class="info2">VISION</p>
  </div>
  <div class="containerr">
    <h2 class="vision">Vision Statement</h2>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
  </div>
  <!--<div class="parallax" data-parallax="scroll" data-z-index="1" 
            data-image-src="{% static 'img/adverts/shoppingbag.jpg' %}">
                <p class="info">About Us</p>
            </div>-->
</div>
<!--=== SECTION HOLDING LEFT AND RIGHT COL ===-->

<div class="black"></div>
<div class="mission"></div>
<div class="containerr">
  <h2 class="goal">Goal & Mission</h2>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. It has survived not only five centuries, but also
    the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
</div>

<!--== TESTIMONIAL ==-->

<div class="testimonial">
  <div class="small-container">
    <div class="containerr">
      <h2 class="testi">Testimonial</h2>
    </div>
    <div class="row">
      <div class="col-3">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <p>Kudos to MykeStore, Great creativity Do give away Sir</p>
        <div class="rating">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <img src="{% static 'img/Wizkid-white-bg2.jpg' %}" alt="Wizkid" />
        <h3>Ayodeji Balogun</h3>
      </div>
      <div class="col-3">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <p>Smooth and reliable, Any day and time</p>
        <div class="rating">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o" aria-hidden="true"></i>
        </div>
        <img
          src="{% static 'img/Burna-Boy-2-main-portriat.jpg' %}"
          alt="Burna boy"
        />
        <h3>Ogulu Damini</h3>
      </div>
      <div class="col-3">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <p>Dikachi is doing such a nice job support you all the way boss.</p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
        </div>
        <img src="{% static 'img/davido-whitebg.jpg' %}" alt="Davido" />
        <h3>David Adeleke</h3>
      </div>
    </div>
  </div>
</div>
<!--== END OF TESTIMONIAL ==->


        <!-== BRANDS ==-->
<div class="brands">
  <div class="small-container">
    <h2 class="partnerships">Partnerships</h2>
    <div class="row">
      <div class="col-5">
        <img src="{% static 'img/Tesla-png-download.png' %}" alt="Tesla" />
      </div>
      <div class="col-5">
        <img src="{% static 'img/hermes-logo.jpg' %}" alt="Hermes" />
      </div>
      <div class="col-5">
        <img src="{% static 'img/Apple-Iconmain.jpg' %}" alt="Apple" />
      </div>
      <div class="col-5">
        <img src="{% static 'img/pepsi-logo.jpg' %}" alt="Pepsi" />
      </div>
    </div>
  </div>
</div>
<!--=== END BRANDS ===-->

<!--=== BACK TO TOP ===-->
<div class="top">
  <a href="#top" class="top">Top &#x2191;</a>
</div>

{% endblock content %}
