{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--=== CONTENT ===-->

        <!--== CHECK OUT BUTTON ==--> 
        <div class="checkoutbutton">
            <a href="{% url 'storeapp:cart' %}" class="btn">Check Out &#8594</a>
        </div>
        <br/>
        <p style="text-align:center;"><strong>We have {{categories.count}} categories </strong></p>
        <br/>
        <div class="women-holder">
            {% for category in categories %}
            <div class="women-container col-4">
                <a href="{% url 'storeapp:category_detail' category.id %}">
                    <img src="{{category.image.url}}"/>
                </a>    
                <p>
                    {{category.title}}
                </p>

            </div>
            {% endfor %} 
        </div>       


{% endblock %}