{% extends 'base.html' %} {% load static %} {% block content %}
<div class="dash-sec">
  {% if messages %} {% for message in messages%}
  <div style="width: 90%">
    <strong>{{message}}</strong>
  </div>
  {% endfor %} {% endif %}
  <h1>Dashboard</h1>
  <div class="dash-flex-con">
    <div class="dash-child">
      <!--<div class="dash-logo">
        <img src="" />
      </div>-->
      <ul>
        <li
          style="
            border-radius: 3px;
            padding: 3px;
            background: grey;
            color: white;
          "
        >
          Overview
        </li>
        <hr />
        <li><a href="#profff">Profile</a></li>
        <hr />
        <li><a href="{% url 'storeapp:settings' %}">Account Setting</a></li>
        <hr />
        <li><a href="#orderrr">Orders</a></li>
        <hr />
        <li><a href="#shippy-add">Shipping Address</a></li>
        <hr />
        <li><a href="{%  url 'storeapp:about' %}">About</a></li>
        <hr />
        <li><a href="{%  url 'userapp:signout' %}">Logout</a></li>
      </ul>
      <p class="dash-child-pp">Technical help?</p>
      <button type="submit" id="myDiv" class="dash-btn">
        <a style="color: white" href="{% url 'storeapp:contact' %}"
          >Contact Us</a
        >
      </button>
    </div>

    <!--=== WIDE SECTION ===-->

    <div style="width: 75%">
      <div style="width: 100%">
        <div class="dash-child-2">
          {% if request.user.is_authenticated %}
          <h2>Hello {{request.user|capfirst}}</h2>
          <p style="padding-bottom: 10px">
            From your account dashboard you can easily check & view your orders
            manage your shipping and billing address.
          </p>
          {% endif %}
        </div>

        <div class="dash-profile">
          <h3 style="text-align: center" id="profff">Profile Information</h3>
          <hr />
          <div class="dash-parent-profile-info">
            <div class="dash-profile-pic">
              {% if user_profile.image %}
              <img
                style="object-fit: cover; height: auto"
                src="{{user_profile.image.url}}"
              />
              {% else %}
              <!--=== DUMMY IMAGE PLACEMENT ===-->
              <img
                style="object-fit: cover; height: auto"
                src="{% static 'img/dummy-profile-icon.jpg' %}"
              />
              {% endif %}
            </div>
            <!--=== USER DETAIL ===-->
            <div class="dash-profile-info">
              <p><strong>Name:</strong> {{user_profile.user|capfirst}}</p>
              <p><strong>Bio:</strong> {{user_profile.bio}}</p>
              <p><strong>Phone:</strong> {{user_profile.phone}}</p>
              {% if user_profile.verified == True %}
              <p style="margin-bottom: 4px; color: green">
                <strong>Verified:</strong
                ><strong style="color: green"> ✔</strong>
              </p>
              {% else %}
              <p style="margin-bottom: 4px">
                <strong>verified:</strong><strong style="color: red"> ✖</strong>
              </p>
              {% endif %}
              <button class="edit_profile" type="submit">
                <a href="{% url 'userapp:profile-update' %}"
                  ><small style="color: white; font-size: bold"
                    >Edit Profile</small
                  ></a
                >
              </button>
            </div>
          </div>
        </div>

        <!--=== ORDER SECTION ===-->
        <div class="dash-orders">
          <h3 id="orderrr">Your Orders</h3>
          <hr />
          <table>
            <thead>
              <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Status</th>
                <th>Paid Status</th>
                <th>Total</th>
                <th>Actions</th>
              </tr>
            </thead>
            {% for order in order_list %}
            <tbody>
              <tr>
                <td>INVOICE_NO- {{order.id|truncatechars:9}}</td>
                <td>{{order.created_on}}</td>
                <td>{{order.product_status}}</td>
                {% if order.completed == True %}
                <td style="color: green">✔</td>
                {% else %}
                <td class="text-danger">
                  <span><strong style="color: red">X</strong></span>
                </td>
                {% endif %}
                <td>&#x20A6;{{order.total_price}}</td>
                <td>
                  <button
                    style="background: red; border: none; border-radius: 3px"
                  >
                    <a
                      style=""
                      href="{% url 'storeapp:order-detail' order.id %}"
                    >
                      View
                    </a>
                  </button>
                </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>

        <!--=== CHART SECTION ===-->
        <div class="chart-container">
          <div>
            <canvas id="myChart"></canvas>
          </div>
        </div>

        <!--== ADDRESS SECTION ==-->
        <div class="address-container">
          <h3 id="shippy-add">Shipping Address</h3>
          <hr />
          <p style="text-align: left; padding: 3px 7px">
            <strong>Input Address</strong>
          </p>
          <form method="POST">
            {% csrf_token %}
            <div class="add-address-sec">
              <input type="text" placeholder=" Address" name="address" />
              <br />
              <input type="text" placeholder=" Phone" name="mobile" />
              <button type="submit" name="submit" value="submit">
                Save
              </button>
            </div>
          </form>
          <hr/>
          <h4 style="font-weight:800; color:black;">Billing Address</h4>
          <address class="address-sec">
            {% for a in address %}
            <div style="padding: 4px; width: 45%; flex-direction: row">
              <h5>Address {{forloop.counter}}</h5>
              <p>{{a.address}}</p>
              <p>{{a.mobile}}</p>
              {% if a.status %}
              <i
                style="color: green; width: 20px"
                data-address-id="{{a.id}}"
                class="check{{a.id}} check"
                >☑</i
              >
              <button
                data-address-id="{{a.id}}"
                style="display: none; padding: 6px 4px"
                class="make-default-address button{{a.id}} action_btn"
              >
                Make default
              </button>

              {% else %}
              <i
                style="color: green; width: 20px"
                data-address-id="{{a.id}}"
                class="check check{{a.id}}"
                >☑</i
              >
              <button
                style="padding: 7px 6px; cursor: pointer"
                data-address-id="{{a.id}}"
                class="make-default-address button{{a.id}} action_btn"
              >
                Make default
              </button>
              {% endif %}
            </div>
            {% endfor %}
          </address>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
