{% extends "base.html" %} {% load static %} {% block content %}


<!--== HEADER TOP ==-->
<div class="contaner">
  {% if messages %}
    <!--{% for message in messages%}
      <div class="alert alert-{{message.tags}}">
        <strong>{{message}}</strong>
      </div>  
    {% endfor %}-->
    {% include 'alerts.html' %}
  {% endif %}

  <!--<img class="containerstoreimg" src="{% static 'img/adverts/shoppinglady.jpg' %}">-->
  <div class="mainbackground">
    <div class="col-2explore">
      <h1 class="mainbackgroundtext1"> Explore unique styles</h1>
      <p class="mainbackgroundtext2"> Upgrade your odogwu level with us.<br>
          <strong>Tech with Style</strong>
      </p>
        
            <!--<img src="{% static 'img/headerlaptop.png' %}">-->
            <!--<img  src="{% static 'img/fashionicon3.png' %}">-->
            <!--<img src="{% static 'img/fashionicon4.png' %}">-->
      <div class="myexplorebutton">
        <a href="{% url  'storeapp:products' %}" class="exploringbtn">Explore Now &#8594</a>
      </div>
    </div>
    <br>
    <br>
    <!--<div class="col-2">-->
        <!--<img src="{% static 'img/pinksuit.jpg' %}" alt="A guy">-->
    <!--</div>-->
  </div>
</div>
<!--== END OF HEADER==-->

<div class="line-design">
</div> 



<!-- === GRID DISPLAY === -->
<div class="image-grid">
  <img src="{% static 'img/women2.jpg' %}"/>
  <img class="image-grid-row-2" src="{% static 'img/men.jpg' %}"/>
  <img src="{% static 'img/women/shoes54.png' %}"/>
  <img src="{% static 'img/desktopset.jpg' %}"/>
  <img src="{% static 'img/console.jpg' %}"/>
  <img class="image-grid-col-2" src="{% static 'img/shoe-pink-bg.jpg' %}"/>
</div>
<!-- === END OF GRID DISPLAY === -->



<!--== featured categories ==-->
<div class="categories">
  <div class="small-container">
    <div class="row">
      <div class="col-3">
        <a href="{% url 'storeapp:products' %}"><img src="{% static 'img/outfits/techwear_jogger-pants_.jpg' %}" /></a>
      </div>
      <div class="col-3">
        <a href="{% url 'storeapp:products' %}"><img src="{% static 'img/turtleneck-with-suit-stylemain.jpg' %}" /></a>
      </div>
      <div class="col-3">
        <a href="{% url 'storeapp:products' %}"><img src="{% static 'img/luxurycover/shoe-section-cover-photo.jpg' %}"
        /></a>
      </div>
    </div>
  </div>
</div>

<!---== Featured products =-->
<div class="small-container">
  <h2 class="title">Featured Products</h2>
  <div class="row">
    <div class="col-3">
      <a href="{% url 'storeapp:products' %}"><img id="products" src="{% static 'img/luxury/luxury_brand_men_classic_jpg.jpg' %}"
      /></a>
      <h4>Luxury Shoes</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-3">
      <a href="{% url 'storeapp:products' %}"><img src="{% static 'img/shirts/shirts.jpg' %}" /></a>
      <h4>Casual Shirts</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-3">
      <a href="{%url 'storeapp:products' %}">
        <img src="{% static 'img/streetcover/fashionstreetcover.jpg' %}" />
      </a>
      <h4>Designer Casuals</h4>
      <div class="rating">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-3">
      <a href="{%url 'storeapp:products' %}">
        <img src="{% static 'img/shoes/red_sneaker_.jpg' %}" />
      </a>
      <h4>Red Sneakers</h4>
      <div class="rating">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-3">
      <a href="{%url 'storeapp:products' %}">
        <img src="{% static 'img/outfits/guy_in_red_sneaker.jpg' %}" />
      </a>
      <p>Shop With Us</p>
    </div>
  </div>
</div>
<!--== End of Featured Products ==-->



<hr/>
<br/>
<!--=== SLIDING CONTENT ===--> 
<div id="slider">
    <figure class='slide-color'>
        <a href="{% url 'storeapp:products' %}">
          <img src="{% static 'img/shoes/f3e6ead38a2b47209a810e5b9de802c8_1661192711942.jpg' %}">
        </a>
        <a href="{% url 'storeapp:gadgets' %}">
          <img src="{% static 'img/laptopvictus (2022 INTEL).png' %}">
        </a>  
        <a href="{% url 'storeapp:gadgets' %}">
          <img src="{% static 'img/adverts/ikay.jpg' %}"> 
        </a>  
        <a href="{% url 'storeapp:gadgets' %}">
          <img src="{% static 'img/adverts/iphoneadvert.jpg' %}">   
        </a>  
        <a href="{% url 'storeapp:gadgets' %}">
          <img src="{% static 'img/adverts/openinglaptop.jpg' %}">
        </a>   
        <a href="{% url 'storeapp:products' %}">
          <img src="{% static 'img/shirts/shirt-multi-color.jpg' %}">
        </a>  
        <a href="{% url 'storeapp:products' %}">
          <img src="{% static 'img/outfits/streety.jpg' %}">  
        </a>     
    </figure>
</div>
<!---==== SLIDER END ===-->  
<div class=""></div> 



<!--== LAPTOPS AND PHONES ==-->  
<div class="phones">
    <div class="rightsection">
        <p class="info111"> UNBEATABLE DEALS</p>
        <img src="{% static 'img/playstation3.png' %}" width="40%">
    </div>
    <div class="phonesbuybtn">
        <a href="{% url 'storeapp:games' %}" class="exploringbtn">Buy Now &#8594</a>
    </div>    
</div> 

<!---== laptop opening ==-->
<div class="parallaxx">
</div>          


    <!--== Offer ==-->
    <div class="offer">
        <div class="small-container">
            <div class="erow">
                <img id="myoffer" src="{% static 'img/Apple_watch-series7_hermes-styled.jpg' %}" class="watch">
                <div class="">
                    <p class="offer-section">Exclusively Available on MykeStores</p>
                    <h1>Apple Watch Series 7</h1>
                    <small>The Apple Series 7 smart watch featuring hermes band strap offers a retina LTPO Oled
                        display, an apple S7 chip with 326ppi, 32gb internal memory, 1gb ram, accelerometer, gyro,
                        heart rate, barometer, compass,SpO2, VO2 max sensors.<br> Technology with style.<br>
                    </small>
                    <a href="{% url 'storeapp:gadgets' %}" class="exploringbtn">Buy Now &#8594</a>
                </div>
            </div>
        </div>
    </div>
    <!--== End of Offer ==-->







<!--ADVERT-->
<div class="yellow"></div>
<div class="pink"></div>
<div class="advert1">
<!--=== ADVERT SECTION ===-->
</div>
<div class="black"></div>
<div class='light-blue'></div>
   


<!--=== BACK TO TOP ===-->
<div class="top">
    <a href="#top" class="top">Top &#x2191;</a>
</div>
<div class="api-dev">
  <a href="api">API Development</a>
</div>  

{% endblock content %}
