{% extends 'base.html' %} {% load static %} {% block content%}
<div class="Signin-text">
  <h2>Sign in</h2>
</div>
<div class="if-no-account">
  <p>
    Don't have an account?
    <a href="{% url 'userapp:signup' %}">Signup</a>
  </p>
</div>
<!--==== ALERT BEGINNING ====-->
<div class="row">
  {% include "alerts.html" %}
  <!--{% for message in messages%}
      <div class="alert alert-alert-dismissible fade show" role="alert">
        {{ message }}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}-->
  <!--== END OF ALERT ==-->
  {% if request.GET.command == 'verification' %}

  <div
    class="container mx-auto alert alert-info text-center"
    role="alert"
    style="max_width: 800px; margin-top: 100px"
  >
    Thanks for registering, We have sent a verification email to your email
    address [{{request.GET.email}}]
    <br />
    <br />
    Already verified? <a href="{% url 'userapp:login' %}">Login</a>
  </div>
  {% else %}

  <!--== FORM ==-->
  <div class="form-container">
    <br />
    <form action="{% url 'userapp:login' %}" method="POST">
      {% csrf_token %}
      <div class="input-field">
        <label for="">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Input Email required"
        />
        <br />
        <br />
        <label for="">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password required"
        />
        <br />
      </div>

      <div>
        <a href="{% url 'userapp:password_reset' %}">forgot Password?</a>
      </div>

      <!--<div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">
          Confirm you're not a bot
        </label>
        <br />
        <br />
      </div>-->
      <a href="{% url 'storeapp:cart' %}">
        <button type="submit" class="btn btn-primary">Login</button>
      </a>
    </form>
  </div>
</div>
{% endif %} {% endblock content %}
