{% extends 'base.html' %} {% load static %} {% block content %}
<div class="dash-sec">
  <h1>Dashboard</h1>
  <div class="dash-flex-con">
    <div class="dash-child">
      <div class="dash-logo">
        <img src="" />
      </div>
      <ul>
        <li style="border-radius: 3px; padding: 3px; background: grey">
          <a style="color: white" href="{% url 'storeapp:dashboard' %}"
            >Overview</a
          >
        </li>
        <hr />
        <li>Orders</li>
        <hr />
      </ul>
      <p>Technical help?</p>
      <button type="submit" id="myDiv" class="dash-btn">
        <a style="color: white" href="{% url 'storeapp:contact' %}"
          >Contact Us</a
        >
      </button>
    </div>

    <!--=== WIDE SECTION ===-->
    <div class="dash-orders">
      <h3>Your Orders</h3>
      <hr />
      <table style="width: 90%">
        <thead>
          <tr>
            <th>Order INV</th>
            <th>Image</th>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for order in order_items %}
          <tr>
            <td>INV-{{order.id}}</td>
            <td>
              <img
                style="width: 30px; height: 30px; border-radius: 4px"
                src="{{order.product.picture.url}}"
              />
            </td>
            <td>{{order.product.name}}</td>
            <td>&#x20A6;{{order.product.price}}</td>
            <td>{{order.quantity}}</td>
            <td>&#x20A6;{{order.price}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
