{% extends 'base.html' %}
{% load static %}
{% block content %} 
{% include 'alerts.html' %}
<div class="form-container" style='padding:20px; text-align:center; margin:20px auto; border:1px solid black;'>
    <h3>Forgot Password </h3>
    <form method="POST">
        {% csrf_token %}
        <div class="inputfield100 ">
            <label style="float:left; padding-left:15%;">Email Address</label>
            <br/>
            {{form.email}}
        </div>
        <button  class="btn" type="submit">Submit</button>
    </form> 
</div>   


{% endblock content %}
